body {
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1, h3 {
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(0, 0, 0);



}

a.card-link {
   text-decoration: none;
   color: rgb(253, 3, 128);

   
}

p.card-text {

    font-family:Arial, Helvetica, sans-serif;
   
}

div.card {
    max-width: 1200px;   
    margin: 0 auto;     
    display: flex;


}

.hairdressers {
  width: 100%;
  padding: 40px 10;
  display: flex;
}

.card-text {
    min-height: 110px;
   
}
